@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1883A5;
    text-decoration: none;
    transition: all 0.3s ease 0s;

}

body {
    background: #131313;
    height: 150vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    
    
}

.genders :hover {
   color:white
}



hr{
        height: 1px;
        background-color: #1883A5;
        border: none;
        width: 100% 

}

button {
    padding: 9px 25px;
    background-color: #1883A5;
    border: none;
    border-radius: 50px;
    color: #131313;
    margin-top: 30%;
    cursor: pointer;

}

button2 {
    padding: 9px 25px;
    background-color: #1883A5;
    border: none;
    border-radius: 50px;
    color: #131313;
    cursor: pointer;
    float: right;
    margin-right: 620px;
    margin-top: 30px;


}


.logo {
    width: 10%;
    cursor: pointer;
    margin-right: 120px;
}



nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #131313;
    color: #fff;
    padding: 10px;
}


nav {
    position: absolute;
    background: #131313;
    margin-top: 20px;
}

nav a {
    display: block;
    padding: 10px 20px;

}

.rain-jacket {
    width: 25%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: 1000px;
    margin-top: 150px;
}


.Description {

    color: white;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    

    margin-left: 500px;
    margin-right: auto;
    margin-top: -610px;
}



.size {
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-left: 500px;
}

p2 {
    border: 1px solid white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
}

.cart {
    margin-top: 10px;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-left: 500px;
}

p3 {
    border: 1px solid white;
    padding-left: 90px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}






@media (min-width: 600px){
    nav {
        display: block;
        position: static;
    }
    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
        margin-top: 5%;
    }
}

footer {
    background-color: #1883A5;
    margin-top: auto;
}

.footerNav {

    text-decoration: none;
    list-style: none;
    padding: 10px;
    color: #131313;
    margin-top: -40px;

}

.footerContainer {
    width: 100%;
}

.socialIcons {
    display: flex;
    justify-content: center;


}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #131313;
    margin: 10px;
    border-radius: 50%;

}

.socialIcons i{
    font-size: 2em;
    color: #1883A5;
    opacity: 0.9;

}

.questions {
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #131313;
    margin-top: -150px;
    padding: 10px;
    
}

li {
    font-size: 20px;
    padding: 5px;
}

h2 {
    float: right;
    margin-right: 270px;
    margin-top: -250px;
    font-size: 40px;
    
}

.logo2 {
    width: 15%;
    float: right;
    margin-top: -150px;
    margin-right: 200px;
}

.About {
    cursor: pointer;
}

.About a {
    color: #131313;
}

@media (min-width:600px){
    .footerNav{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;


    }
}