@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    background: #131313;
    height: 150vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
}



a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1883A5;
    text-decoration: none;
    transition: all 0.3s ease 0s;

}

.genders :hover {
   color:white
}


hr{
        height: 1px;
        background-color: #1883A5;
        border: none;
        width: 100% 

}

.hr2 {
    height: 1px;
        background-color: #1883A5;
        border: none;
        width: 43%; 
        margin-left: 204px;
        
}


button {
    padding: 9px 25px;
    background-color: #1883A5;
    border: none;
    border-radius: 50px;
    color: #131313;
    margin-top: 30%;
    cursor: pointer;

}

button2 {
    padding: 15px 35px;
    background-color: #1883A5;
    border: none;
    border-radius: 50px;
    color: #131313;
    cursor: pointer;
    float: right;
    margin-right: 350px;
    margin-top: -450px;

}


.logo {
    align-self: center;
    width: 15%;
    cursor: pointer;
    margin-left: 500px;
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #131313;
    color: #fff;
    padding: 10px;
}


nav {
    position: absolute;
    background: #131313;
    margin-top: 20px;
}

nav a {
    display: block;
    padding: 10px 20px;

}

.Description {
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: -250px;
    margin-left: 1150px;
    
}

.rain-jacket {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: 200px;
    margin-top: 150px;
    border: 1px solid white;
    padding: 10px;
    padding-right: 300px;
    
}

p2 {
    margin-top: -90px;
    font-size: 20px;
    margin-right: 150px;
    padding: 100px;
    display: block;
}

p3 {
    margin-top: -190px;
    font-size: 20px;
    margin-right: 150px;
    padding: 100px;
    display: block;
}

p5 {
    margin-top: -220px;
    font-size: 20px;
    margin-left: 150px;
    padding: 100px;
    display: block;
}

p4 {
    margin-top: -220px;
    font-size: 20px;
    margin-left: 150px;
    padding: 100px;
    display: block;
}

p6 {
    margin-top: -180px;
    font-size: 20px;
    margin-left: -210px;
    padding: 100px;
    display: block;
}

p7 {
    margin-top: -224px;
    font-size: 20px;
    margin-left: 160px;
    padding: 100px;
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 50vh;
    padding-bottom: 70px;
    background: #131313;
    margin-right: 1000px;
    margin-top: -300px;
    
}

.container form{
    
    padding: 50px;
    width: 700px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col{
    flex: 1 1 250px;
}

.container form .row .col .title{
    font-size: 20px;
    color: #131313;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container form .row .col .inputBox{
    margin: 15px 0;
}

.container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
}

.container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #131313;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .row .col .inputBox input:focus{
    border:1px solid #131313
}



@media (min-width: 600px){
    nav {
        display: block;
        position: static;
    }
    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
        margin-top: 5%;
    }
}

footer {
    background-color: #1883A5;
    margin-top: auto;
}

.footerNav {

    text-decoration: none;
    list-style: none;
    padding: 10px;
    color: #131313;
    margin-top: -40px;

}

.footerNav h1{
    color: #131313;
}

.footerContainer {
    width: 100%;
}

.socialIcons {
    display: flex;
    justify-content: center;


}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #131313;
    margin: 10px;
    border-radius: 50%;

}

.socialIcons i{
    font-size: 2em;
    color: #1883A5;
    opacity: 0.9;

}

.questions {
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #131313;
    margin-top: -150px;
    padding: 10px;
    
}

li {
    font-size: 20px;
    padding: 5px;
}

h2 {
    float: right;
    margin-right: 270px;
    margin-top: -250px;
    font-size: 40px;
    
}

.logo2 {
    width: 15%;
    float: right;
    margin-top: -150px;
    margin-right: 200px;
}

.About {
    cursor: pointer;
}

.About a {
    color: #131313;
}

@media (min-width:600px){
    .footerNav{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;


    }
}